<div *ngIf=!switchPage>
<h1>
    Les super Héros de Marvel !
</h1>
<button (click)="switchPage = !switchPage">Ma super team</button>

<div *ngFor="let hero of heroes; index as i" class="col-sm">
    <heroDisplay [name]=hero.name [url]=hero.url [description]=hero.description></heroDisplay>
    <button (click)="addToTeam(hero.id)">Ajouter à la super équipe</button>
</div>
</div>

<div *ngIf=switchPage>
    <h1>
        Ma super team
    </h1>
    <button (click)="switchPage = !switchPage">Les super Héros de Marvel !</button>
    
    <div *ngFor="let hero of team; index as i" class="col-sm">
        <heroDisplay [name]=hero.name [url]=hero.url [description]=hero.description></heroDisplay>
        <button (click)="removeFromTeam(hero.id)">Retirer de la super équipe</button>
    </div>
</div>